﻿@model IEnumerable<GNB.WebApp.Models.Transaction>

@{
    ViewData["Title"] = "Home Page";
}

<form method="get" action="@Url.Action("Index","Home")" class="form-inline">
    <div class="form-group mb-2">
        @Html.TextBox("sku", null, new { placeholder = "SKU", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search Transactions</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
<tfoot>
    <tr>
        <th>Total: @Model?.Select(m => m.Amount).Sum()</th>
    </tr>
</tfoot>
